# Environment
.env
.env.*
**/.env
**/.env.*

# Node
node_modules/

# Build
dist/
apps/*/dist/
apps/desktop/release*/
apps/desktop/electron-dist*/
apps/desktop/build-tools/

# TypeScript
*.tsbuildinfo

# Local
*.local
node_modules
